div
{
  cursor: pointer;
}

body, a
{
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  color: #0065bd;
}

mark
{
  background-color: #ffffba;
  color: #0065bd;
}

h4
{
  font-weight: 900;
  font-size: 22px;
  color: #0065bd;
}

h6
{
  font-size: 16px;
  font-weight: 900;
}

h7
{
  font-size: 12px;
  font-weight: 900;
  color: #0065bd;
}

.card
{
  border-color: #fe5200;
}

.textLink:hover
{
  color: #fe5200;
  text-decoration: none;
  transition: 0.5s;
}

.buttonLink
{
  color: white;
}

.btn-info
{
  width: 75px;
  border: none;
  border-color: none;
  border-width: thick;
  border-radius: 0px;
  font-size: 12px;
  font-weight: bold;
}

.btn-info-sm
{
  width: 75px;
  border-color: #fe5200;
  font-size: 12px;
  font-weight: bold;
}

.bruins
{
  background-color: #ffb325;
  color: #005c8e;
}

.lastate
{
  background-color: #461d7c;
  color: #fdd023;
}

.embed-responsive
{
  height: 50px;
  padding: 0;
  overflow: hidden;
}

#Governance, #Hacking, #BigData, #SbD, #Legislation, #Surveillance, #PbD
{
  background-color: #ffffff;
}

#Footer, #Top
{
  background-color: #ffffff;
}
