div
{
  cursor: pointer;
}

body, a
{
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: #0065bd;
}

mark
{
  background-color: #ffffba;
  color: #0065bd;
}

h4
{
  font-weight: 900;
  font-size: 20px;
  color: #0065bd;
}

h6
{
  font-size: 15px;
  font-weight: 500;
}

.card
{
  border-color: #fe5200;
}

.textLink:hover
{
  color: #fe5200;
  text-decoration: none;
  transition: 0.5s;
}

.buttonLink
{
  color: white;
}

.btn-outline
{
  width: 90px;
  font-size: 11px;
  font-weight: 500;
  border-style: solid;
  border-radius: 5px;
  color: #0065bd;
}

.orange
{
  border-color: #fe5200;
  background-color: #f7f7f7;
  border-width: thin;
}

.grey
{
  border-color: #f7f7f7;
  background-color: #ffffff;
  border-width: thick;
}

.embed-responsive
{
  height: 50px;
  padding: 0;
  overflow: hidden;
}

#Governance, #Hacking, #BigData, #SbD, #Legislation, #Surveillance, #PbD
{
  background-color: #ffffff;
}

#Footer, #Top
{
  background-color: #ffffff;
}
